# 1. SUPABASE DATABASE (Prisma)
# Transaction Pooler (Port 6543) - Used by Next.js to query data quickly
DATABASE_URL="postgresql://postgres.ansojajzpnkbrcqoeile:[YOUR_PASSWORD]@aws-1-ap-northeast-2.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Session Pooler (Port 5432) - Used by Prisma to create the tables
DIRECT_URL="postgresql://postgres.ansojajzpnkbrcqoeile:[YOUR_PASSWORD]@aws-1-ap-northeast-2.pooler.supabase.com:5432/postgres"

# 2. SUPABASE AUTH & STORAGE
NEXT_PUBLIC_SUPABASE_URL="https://ansojajzpnkbrcqoeile.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="[YOUR_ANON_KEY]"
SUPABASE_SERVICE_ROLE_KEY="[YOUR_SERVICE_ROLE_KEY]"

# 3. APP CONFIG
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
PORT="10000"
